<!DOCTYPE html>
<html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<head>
    <title>Word Cloud Example</title>
</head>
<body>
	<div class="wrapper" style="text-align: center; font-family: Lato">
		<br>
		<div class="row">
			<div class="col-xs-offset-2 col-xs-8 col-sm-offset-3 col-sm-6">
				<h1 style="color: #3A99D9"> 
					<strong>Word Cloud Builder by URL </strong> 
				</h1>		
			</div>
		</div>	
		
		<form action="/" method="POST" id="url-form">
		<div class="col-xs-offset-2 col-xs-8 col-sm-offset-3 col-sm-6">
			<div class="input-group">
			  <input name="url", type="text" placeholder="Fetch url..." class="form-control">
			  <span class="input-group-btn">
			    <input type="submit" class="btn btn-default">
			  </span>
			</div><!-- /input-group -->
		</div><!-- /.col-lg-6 -->
		</form>

		<div class="col-xs-offset-2 col-xs-8 col-sm-offset-3 col-sm-6">
			<br>
			<p > {{ message }}</p>	
		</div>

		<div class="col-xs-offset-2 col-xs-8 col-sm-offset-3 col-sm-6" 
			 id="word-cloud">
		</div>	
	</div>
</body>
<script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script>
<script type="text/javascript" src="{{ static_url('js/d3.layout.cloud.js') }}"></script>
{% try %}
	{% if data %}
		<script>
			var width = 750,
		    	height = 500;
		    var words = {% raw data %}.map(function(d) { return { text: d[0], size: d[1] }});
		    var wordScaler = d3.scale.linear().range([10, 60]);
		    wordScaler.domain([
		    	d3.min(words, function(d) { return d.size; }),
		    	d3.max(words, function(d) { return d.size; })
		    ]);

			var color = d3.scale.linear()
			        .range(['#3498DB', '#1478BB', '#00589B', '#54A8FB', '#74C8FF']);

			d3.layout.cloud()
				.size([width, height])
				.words(words)
				.padding(0)
				.rotate(function() { return ~~(Math.random() * 2) * 90; })
				.font("Impact")
				.fontSize(function(d) { return wordScaler(d.size); })
				.on("end", drawCloud)
				.start();

			function drawCloud(words) {
			  d3.select("#word-cloud").append("svg")
				.attr("width", width)
				.attr("height", height)
				// .attr("style", "margin-left:auto; margin-right:auto; display:block;"),
				.append("g")
				// without the transform, words words would get cutoff to the left and top, they would
				// appear outside of the SVG area
				.attr("transform", "translate("+(width * 0.28)+","+(height * 0.50)+")")
				.selectAll("text")
				.data(words)
				.enter().append("text")
				.style("font-size", function(d) { return d.size + "px"; })
				.style("fill", function(d, i) { return color(i); })
				.style("font-family", "Impact")
				.attr("transform", function(d) {
				  return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
				})
				.text(function(d) { return d.text; });
			}

		</script>
	{% end %}
{% except %}
{% end %}
</html>